.submit{
    background-color: aquamarine;
    height : 50px ;
    width : 75px ;
    border: none;
    border-radius: 5px ;
    margin : 10px ;
}

body{

    background: url("photo-1494825514961-674db1ac2700.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.div{
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

